/* Existing styles */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #fff; /* Light theme background */
    color: #212529; /* Light theme text color */
}

.navbar {
    background-color: #f8f9fa; /* Light theme navbar background */
}

.footer {
    background-color: #f8f9fa; /* Light theme footer background */
}

.table {
    background-color: #ffffff;
    color: black;
    /* Other light theme table styles (borders, padding, etc.) */
}

    .table thead {
        background-color: #f2f2f2;
    }

    .table td, .table th {
        border: 1px solid #ddd;
        padding: 8px;
    }

/* Dark theme styles */
body.dark-theme {
    background-color: #343a40; /* Dark theme background for body */
    color: #ffffff; /* Dark theme text color */
}

.dark-theme .navbar {
    background-color: #333; /* Dark theme navbar background, a bit darker than the body */
    color: #ffffff; /* Dark theme navbar text color */
}

    .dark-theme .navbar .navbar-brand,
    .dark-theme .navbar .nav-link {
        color: #ffffff; /* Dark theme text color for brand and links in the navbar */
    }

.dark-theme .footer {
    background-color: #333; /* Dark theme footer background, matching the navbar */
    color: #ffffff; /* Dark theme footer text color */
}

.dark-theme .table {
    background-color: #454d55;
    color: white;
    /* Other dark theme table styles */
}

    .dark-theme .table thead {
        background-color: #333;
    }

    .dark-theme .table td, .dark-theme .table th {
        border: 1px solid #666;
        padding: 8px;
    }

/* Ensure to update the color for any other navbar elements if needed */
.dark-theme .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.input-group .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group #searchButton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px; /* Adjust as needed */
}


/* Add more dark theme styles as needed */
