@{
    ViewData["Title"] = "Login";
}

<style>
    .login-container {
        max-width: 400px;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .login-title {
        text-align: center;
    }

    .login-form div {
        margin-bottom: 10px;
    }

    .login-label {
        display: block;
        margin-bottom: 5px;
    }

    .login-input {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }

    .login-checkbox {
        margin-top: 5px;
    }

    .login-submit {
        background-color: #4CAF50;
        color: white;
        cursor: pointer;
        width: 100%;
        padding: 8px;
        border-radius: 4px;
        margin-top: 10px;
    }

        .login-submit:hover {
            background-color: #45a049;
        }
</style>

<div class="login-container">
    <h1 class="login-title">@ViewData["Title"]</h1>
    <p>Welcome back! Please enter your details to sign in and continue to Packy.</p>

    <form action="/login" method="post" class="login-form">
        <div>
            <label for="email" class="login-label ">Email:</label>
            <input type="email" id="email" name="email" required class="login-input">
        </div>

        <div>
            <label for="password" class="login-label">Password:</label>
            <input type="password" id="password" name="password" required class="login-input">
        </div>

        <div>
            <label for="keepSignedIn" class="login-label"> <input type="checkbox" id="keepSignedIn" name="keepSignedIn" class="login-checkbox"> Keep me signed in</label>
        </div>

        <div>
            <input type="submit" value="Sign In" class="login-submit">
        </div>

        <div style="margin-top: 16px; text-align: center;">
            <p>You don't have an account? Go to the <a href="/Home/SignUp" style="color: #4CAF50; text-decoration: none;">sign up</a> page.</p>
        </div>

    </form>
</div>
