@{
    ViewData["Title"] = "New Order";
}

<style>

    .signup-submit {
        background-color: #4CAF50;
        color: white;
        cursor: pointer;
        width: 100%;
        padding: 8px;
        border-radius: 4px;
        margin-top: 10px;
    }
</style>

<h1 style="text-align: center;">@ViewData["Title"]</h1>

<div style="max-width: 600px; margin: auto; padding: 20px; margin-bottom: 60px;">
    <form action="/new-order" method="post">

        <div style="margin-bottom: 15px;">
            <label for="ReceiverName" style="display: block; margin-bottom: 5px;">Receiver Name:</label>
            <input type="text" id="receiverName" name="expeditorName" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;" required>
        </div>

        <div style="margin-bottom: 15px;">
            <label for="county" style="display: block; margin-bottom: 5px;">County/Region:</label>
            <input type="text" id="county" name="county" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;" required>
        </div>

        <div style="margin-bottom: 15px;">
            <label for="zipCode" style="display: block; margin-bottom: 5px;">Zip Code:</label>
            <input type="number" id="zipCode" name="zipCode" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;" required>
        </div>

        <div style="margin-bottom: 15px;">
            <label for="address" style="display: block; margin-bottom: 5px;">Street, Building, Floor, Apt Number:</label>
            <input type="text" id="address" name="address" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;" required>
        </div>

        <div style="margin-bottom: 15px;">
            <label for="phone" style="display: block; margin-bottom: 5px;">Phone</label>
            <input type="number" id="phone" name="phone" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;" required>
        </div>

        <div style="margin-bottom: 15px;">
            <label for="height" style="display: block; margin-bottom: 5px;">Height</label>
            <input type="number" id="height" name="height" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;" required>
        </div>

        <div style="margin-bottom: 15px;">
            <label for="width" style="display: block; margin-bottom: 5px;">Width</label>
            <input type="number" id="width" name="width" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;" required>
        </div>
        <div style="margin-bottom: 15px;">
            <label for="length" style="display: block; margin-bottom: 5px;">Length</label>
            <input type="number" id="length" name="length" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;" required>
        </div>

        <div style="margin-bottom: 15px;">
            <label for="weight" style="display: block; margin-bottom: 5px;">Weight:</label>
            <input type="number" id="weight" name="weight" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;" required>
        </div>

        <div style="margin-bottom: 15px;">
            <label for="price" style="display: block; margin-bottom: 5px;">Price</label>
            <input type="number" id="price" name="price" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;" required>
        </div>

        <div style="margin-bottom: 15px;">
            <label for="fragile" style="display: block; margin-bottom: 5px;">Fragile:</label>
            <input type="radio" id="fragileYes" name="fragile" value="No">
            <label for="fragileYes" style="margin-right: 10px;">Yes</label>
            <input type="radio" id="fragileNo" name="fragile" value="No" checked>
            <label for="fragileNo">No</label>
        </div>

        <div style="margin-bottom: 15px;">
            <label for="observations" style="display: block; margin-bottom: 5px;">Observations:</label>
            <textarea id="observations" name="observations" rows="4" style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 4px;" placeholder="Any additional details about the order"></textarea>
        </div>

        <div style="margin-bottom: 15px;">
            <label for="awb" style="display: block; margin-bottom: 5px;">Order AWB:</label>
            <div style="padding: 10px; border: 1px solid #ccc; border-radius: 4px;" id="awb">[AWB]</div>
        </div>

        <button onclick="addNewOrder()" class="signup-submit" type="button">Create order</button>

        <div style="margin-bottom: 15px;">
            <label for="error" style="display: block; margin-bottom: 5px; color: red;" id="error"></label>
        </div>

    </form>
</div>